.music-player {
  background: linear-gradient(to right, #f2f2f2, #2b231d);
  display: grid;
  grid-template-columns: 30px 10px 65px 500px 150px 60px 350px 25px;
  grid-template-rows: 30px 65px 200px 56px 30px 30px;
  min-width: 800px;
  max-width: 1200px;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.button-grid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.song-button {
  width: 70px;
  height: 70px;
}

.song-info {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.song-artist-album {
  align-self: flex-start;
  background-color: #000000cc;
  color: #cccccc;
  cursor: pointer;
  font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', 'Garuda', Verdana, Tahoma, sans-serif;
  font-size: 16px;
  padding: 2px 7px 3px;
}

.song-title {
  align-self: flex-start;
  background-color: #000000cc;
  color: #cccccc;
  font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', 'Garuda', Verdana, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 24px;
  padding: 4px 7px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.song-thumbnail {
  align-self: stretch;
  justify-self: stretch;
  grid-column: 7 / 8;
  grid-row: 2 / 6;
  cursor: pointer;
}

.date-tag-grid {
  display: flex;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  white-space: nowrap;
  justify-content: flex-end;
}

.song-release {
  color: #ffffff;
  font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', 'Garuda', 'Verdana', 'Tahoma, sans-serif';
  font-weight: 100;
  font-size: 16px;
}

.song-tags {
  padding: 5px 7px;
  /* background: #999; */
  /* border: 1px solid #999999; */
  /* border-radius: 20px; */
  font-weight: 100;
  font-size: 16px;
  line-height: 85px;
  color: #ffffff;
  font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', 'Garuda', 'Verdana', 'Tahoma, sans-serif';
}

.duration-grid {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
  display: flex;
  flex-direction: column;
  align-self: end;
}

.song-current-time {
  align-self: flex-start;
  background-color: #000000cc;
  color: #cccccc;
  cursor: pointer;
  font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', 'Garuda', 'Verdana', 'Tahoma, sans-serif';
  font-size: 11px;
  position: absolute;
  z-index: 1;
}

.song-length {
  align-self: flex-end;
  background-color: #000000cc;
  color: #cccccc;
  cursor: pointer;
  font-family: 'Interstate', 'Lucida Grande', 'Lucida Sans Unicode',
    'Lucida Sans', 'Garuda', 'Verdana', 'Tahoma, sans-serif';
  font-size: 11px;
  position: absolute;
  z-index: 1;
}

.song-bars {
  grid-column: 2 / 6;
  grid-row: 4 / 5;
}
